<form>
    <h2>Denúncias</h2>
    <h3>Informe o problema urbano</h3>
    <select>
        <option>Pavimentação</option>
        <option>Saneamento</option>
        <option>Abandono de prédios públicos</option>
        <option>Alagamentos</option>
        <option>Outros -detalhe na mensagem-</option>
    </select>

    <h3>Informe a localização</h3>
    <select>
        <option>CIDADE</option>
    </select>
    <select>
        <option>BAIRRO</option>
    </select>
    <select>
        <option>RUA</option>
    </select>

    <h3>Detalhamento da denúncia</h3>
    <textarea></textarea>

    <h3>Adicionar imagens</h3>
    <input type="file"> <br> <br>

    <input type="button" value="Enviar">
</form>
  